{
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "tabWidth": 4
}
